/* @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}


.hero {
  width: 100%;
  height: 100%;
  color: lightblue;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/journey.jpg);
  background-size: cover;
  backdrop-filter: brightness(50%);
  

}

 .hero-description{
  margin: 100px;
  background-color: #5cb8ff;
}

h3 {
  margin-left: 6rem;
  width: 600px;
  height: 300px;
  padding-top: 12rem;
  font-family: 'Exo 2', sans-serif;
}


#features {
  width: 80%;
  height: 100%;
}


.logo {
  font-size: 2.5rem;
  color: #5cb8ff;
  font-weight: 600;
  cursor: default;
}

.features {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  gap: 4rem;
  text-align: center;
}

.feature-items {
  display: flex;
  justify-content: space-around;
}

.footer {
  width: 100%;
  background-color: #5cb8ff;
  text-align: center;
}

.navbar-custom {
    background-color: lightgreen;
}

#collasible-nav-dropdown{
  color: #5cb8ff;
}

#nav-items {
  display: flex;
  gap: 8px;
}